function Coin.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Coin.draw 1
push argument 0
pop pointer 0
push constant 16384
push this 0
push constant 16
call Math.divide 2
add
push this 1
push constant 32
call Math.multiply 2
add
pop local 0
push local 0
push constant 0
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 12684
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15981
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32367
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32367
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30335
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 30335
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 13949
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28662
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 12684
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 6168
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 2016
call Memory.poke 2
pop temp 0
push constant 0
return
function Coin.clear 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 16
add
push this 1
push constant 16
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
