function MarioGame.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 200
push constant 32
sub
call Mario.new 1
pop this 0
push this 0
call Mario.draw 1
pop temp 0
push constant 2
pop this 2
push this 2
call Array.new 1
pop this 1
push constant 0
push this 1
add
push constant 506
push constant 48
push constant 30
call Box.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 606
push constant 48
push constant 25
call Box.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop this 5
label WHILE_EXP0
push this 5
push this 2
lt
not
if-goto WHILE_END0
push this 5
push this 1
add
pop pointer 1
push that 0
pop this 3
push this 3
call Box.draw 1
pop temp 0
push this 5
push constant 1
add
pop this 5
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call MarioGame.drawGround 1
pop temp 0
push pointer 0
return
function MarioGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Mario.dispose 1
pop temp 0
push constant 0
pop this 5
label WHILE_EXP0
push this 5
push this 2
lt
not
if-goto WHILE_END0
push this 5
push this 1
add
pop pointer 1
push that 0
pop this 3
push this 3
call Box.dispose 1
pop temp 0
push this 5
push constant 1
add
pop this 5
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function MarioGame.drawGround 0
push argument 0
pop pointer 0
push constant 0
push constant 3
add
push constant 200
push constant 1
add
push constant 511
push constant 3
sub
push constant 200
push constant 1
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function MarioGame.run 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 91
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 91
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push local 2
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push this 0
call Mario.move 1
pop temp 0
push constant 0
pop this 5
label WHILE_EXP1
push this 5
push this 2
lt
not
if-goto WHILE_END1
push this 5
push this 1
add
pop pointer 1
push that 0
pop this 3
push this 3
call Box.move 1
pop temp 0
push this 3
call Box.getX 1
pop local 1
push local 1
push constant 32
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Mario.getBottomY 1
push local 1
push constant 12
sub
call Math.abs 1
add
push constant 3
add
push this 3
call Box.getWidth 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
push constant 1
add
pop this 4
push constant 0
push constant 50
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
label IF_FALSE1
push local 1
push constant 10
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
call Box.clear 1
pop temp 0
push this 3
push constant 511
push constant 100
call Random.randRange 1
add
call Box.setX 2
pop temp 0
push this 3
push constant 20
push constant 10
call Random.randRange 1
add
call Box.setW 2
pop temp 0
label IF_FALSE2
label IF_FALSE0
push this 5
push constant 1
add
pop this 5
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 32
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
call Mario.jump 1
pop temp 0
label IF_FALSE3
push local 0
push constant 81
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop local 2
label IF_FALSE4
push constant 50
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
